.env
.sass-cache
*.css.map
node_modules
.tmp
dump.rdb
npm-debug.log
.phpintel
.DS_STORE
.netbeans
nbproject
.editorconfig
.idea
*.sublime-project
*.sublime-workspace
.node_history
bower_components
*.bowerrc
.powenv
*~
*#
docs/*.html
.htaccess
trash.*
notes.md
notes.txt
Unit.php
.bash_history
.git-credentials
*.avi
*.cgi
*.gif
*.udb
*.jpg
*.xml
images/
video/
urchin/
thumbs/
imanager/
_notes/
tmp/
*.log
log/
config/database.yml
