<h2>Photos</h2>

<p id="notice"><%= notice %></p>

<table>
	<thead>
	<tr>
		<th>Title</th>
		<th>Image</th>
		<th colspan="1"></th>
	</tr>
	</thead>

	<tbody>
	<% @photos.each do |photo| %>
			<ul>
				<li>
				<p><%= photo.title %></p>
				<p>Thumbnail:</p>
				<p class="image"><%= link_to image_tag(photo.image.thumb('100x100').url), photo.image.url %></p>
				<p>Full:</p>
				<p class="image"><%= link_to image_tag(photo.image.url), photo.image.url %></p>
				</li>
			</ul>
	<% end %>
	</tbody>
</table>
