<h2>Photos</h2>

<p id="notice"><%= notice %></p>

<table>
	<thead>
	<tr>
		<th>Title</th>
		<th>Image</th>
		<th colspan="1"></th>
	</tr>
	</thead>

	<tbody>
	<% @photos.each do |photo| %>
			<tr>
				<td><%= photo.title %></td>
				<td><%= link_to image_tag(photo.image.thumb('100x100').url), photo.image.url %></td>
			</tr>
	<% end %>
	</tbody>
</table>
