<div class="item">
	<img src="<%= @photos[1].image.url %>">
	<div class="container">
		<div class="carousel-caption">
			<h1>Because its fun</h1>
			<p><a class="btn btn-sm btn-primary" href="superciliosus.html" role="button">Explore</a></p>
		</div>
	</div>
</div>
<div class="item">
	<img src="<%= @photos[2].image.url %>" alt="Third slide">
	<div class="container">
		<div class="carousel-caption">
			<h1>One more for good measure.</h1>
			<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
			<p><a class="btn btn-sm btn-primary" href="#" role="button">Browse gallery</a></p>
		</div>
	</div>
</div>